<article class="ficha">

    <app-carousel-ficha></app-carousel-ficha>
    <h3 class="titular">El Titular</h3>
    <h3 class="poblacion">La Población</h3>
    <p class="precio">300.000</p>
    <footer class="footer-ficha">

        <div class="contenedor-iconos">
            <div >
                <span class="numero-elementos">5</span>
                <img src="assets/img/004-bathtub.svg" alt="icono baño" class="icono">
            </div>
            <div >
                <span class="numero-elementos">2</span>
                <img src="assets/img/017-bed.svg" alt="icono habitaciones" class="icono">
            </div>
            <div >
                <span class="numero-elementos">4</span>
                <img src="assets/img/011-office building.svg" alt="icono altura" class="icono">
            </div>
        </div>


    </footer>

</article>