<div class="contenedor">
<div class="contenedor-logo">
<img  class="logo" src="assets/img/logo_transparent.png" alt="icono El Pisito">
<span cass="texto-logo">El Pisito</span>
</div>
<div class="contenedor-iconos">
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"> <i class="fa-brands fa-youtube"></i></a>
    <a href="#">  <i class="fa-brands fa-instagram"></i></a>
    <a href="#">  <i class="fa-brands fa-facebook"></i></a>  
</div>
<div class="contenedor-aplicaciones">
<a href="#">
    <span>TAMBIÉN EN TU MÓVIL</span><i class="fa-brands fa-google-play"></i>
    <span>ANDROID</span><i class="fa-brands fa-android"></i>
    <span>IOS</span><i class="fa-solid fa-apple-whole"></i>
</a>
</div>



</div>
