<div class="contenedor">
<h1>Login</h1>

<form class="mx-auto" #form="ngForm" (ngSubmit)="login()" [formGroup]="loginForm">
<div class="mb-3">
    <label for="email">EMAIL*</label>
    <input type="email" class="form-control" id="email" name="email" autocomplete="off"  required [class.is-invalid]="loginForm.get('elEmail')?.invalid && loginForm.get('elEmail')?.touched" formControlName="elEmail">

</div>
<div class="mb-3">
    <label for="password">PASSWORD*</label>
    <input type="password" class="form-control" id="password" name="password" autocomplete="off"  required [class.is-invalid]="loginForm.get('elPassword')?.invalid && loginForm.get('elPassword')?.touched" formControlName="elPassword">
</div>
<div class="contenedor-boton">
    <button type="submit" class="btn-anadir" [disabled]="form.invalid">Iniciar Sesion</button>






</div>
